<section>
    <h1>Eingabeauifforderung</h1><button routerLink="" class="backBtn">Back</button>

    <div>
        <h3>Tipp 1</h3>
        <h3>Docker</h3>
        <p>Containerization<br>
            alles darin installiert im Docker auf den Server packen<br>
            zusammen mit AWS in der Cloud (Serverless)<br>
            Docker, Server selbst mieten und maintainen(Versionen müssen alle gleich sein)<br>
            Kubernetescluster (teuer und schwer aufzusetzen dafür skalierbar)<br>
            Serverlessdeployment Google App Engine oder AWS (keine Serverkonfig aber an Anbieter gebunden)
        </p>
    </div>

    <div>
        <h3>Tipp 2</h3>
        <h3>Docker vorbereiten</h3>
        <p>pip freeze > requirements.txt<br>
            Neue Datei ohne Endung mit namen "Dockerfile"<br>

        </p>
    </div>

    <div>
        <h3>Tipp 3</h3>
        <h3>Dockerfile Inhalt</h3>
        <p># syntax=docker/dockerfile:1 -- Bei manchen Systemen muss diese Zeile weg

            FROM python:3
            
            
            
            WORKDIR /usr/src/app
            
            
            
            COPY requirements.txt ./
            
            RUN /usr/local/bin/python -m pip install --upgrade pip
            
            RUN pip install --no-cache-dir -r requirements.txt
            
            
            
            COPY . . 
            
            CMD ["python3", "manage.py", "runserver", "0.0.0.0:8000"]
        </p>
    </div>

    <div>
        <h3>Tipp 4</h3>
        <h3></h3>
        <p>
        </p>
    </div>

    <div>
        <h3>Tipp 5</h3>
        <h3></h3>
        <p>
        </p>
    </div>

</section>