<section>
    <div>
        <h3>Tipp1</h3>
        <h3>nested serializers</h3>
        <p>selbst gebaute serializer in many to many field einbauen<br>
            markets = MarketSerializer(many=True, read_only=True)<br>
            nested werden auch vorher mit.pop entfernt und im nachgang mit .set wieder hinzugefügt
        </p>
    </div>
    
    <div>
        <h3>Tipp2</h3>
        <h3>Model Serializer</h3>
        <p>es wird automatisch ein set fields generiert basierend auf dem Model<br>
            automatische validatoren und includes update() und create()<br>
            Extrem zeitsparend
        </p>
    </div>

    <div>
        <h3>Tipp3</h3>
        <h3></h3>
        <p>
        </p>
    </div>

    <div>
        <h3>Tipp4</h3>
        <h3></h3>
        <p>
        </p>
    </div>

    <div>
        <h3>Tipp5</h3>
        <h3></h3>
        <p>
        </p>
    </div>

    <div>
        <h3>Tipp18</h3>
        <h3></h3>
        <p>
        </p>
    </div>
</section>