<section>
    <div>
        <h3>Tipp1</h3>
        <h3>nested serializers</h3>
        <p>selbst gebaute serializer in many to many field einbauen<br>
            markets = MarketSerializer(read_only=True)
        </p>
    </div>
    
    <div>
        <h3>Tipp2</h3>
        <h3></h3>
        <p>
        </p>
    </div>

    <div>
        <h3>Tipp3</h3>
        <h3></h3>
        <p>
        </p>
    </div>

    <div>
        <h3>Tipp4</h3>
        <h3></h3>
        <p>
        </p>
    </div>

    <div>
        <h3>Tipp5</h3>
        <h3></h3>
        <p>
        </p>
    </div>

    <div>
        <h3>Tipp18</h3>
        <h3></h3>
        <p>
        </p>
    </div>
</section>