<section>
    <h1>Testing</h1><button routerLink="" class="backBtn">Back</button>

    <div class="tipp-1">
        <h3>Tipp 1</h3>
        <h3>Grundlagen Softwaretests</h3>
        <p>Tests eher in der ...App auslagern in Ordner tests der direkt in der app liegt<br>
            das ganze muss gestartet werden mit einer __init__.py Datei<br>
            wenn ordner existiert darf keine tests.py in der app existieren
        </p>

        <h3>Tipp 1</h3>
        <h3>TDD</h3>
        <p>Test Driven Developement<br>
            Die Tests sind so aufgebaut das sie erst die Models abdecken. Entwicklertests(ModelTests)<br>
            Erst Tests schreiben, dann das Backend
        </p>

    </div>

</section> 