<section>
    <h1>CSS Tricks</h1><button routerLink="" class="backBtn">Back</button>

    <div class="tipp-1">
        <h3>Tipp 1</h3>
        <h3>Copy Repository with commits</h3>
        <p>git remote add new-origin<br>
            git push new-origin --all<br>
            git push new-origin --tags<br>
            git branch --set-upstream-to=new-origin/main main</p>
    </div>


    <div class="tipp-2">
        <h3>Tipp 2</h3>
        <h3>Git Klonen</h3>
        <p>Git Clone SSH</p>
    </div>


    <div class="tipp-3">
        <h3>Tipp 3</h3>
        <h3>reverse git add</h3>
        <p>git unstage .</p>
    </div>


    <div class="tipp-4">
        <h3>Tipp 4</h3>
        <h3>bei commited not synced</h3>
        <p>git reset --soft HEAD~1 schiebt den letzten Commit ins staging area<br>
            git reset --mixed HEAD~1 schiebt den letzten Commit komplett zurück ins working directory<br>
            git reset --hard HEAD~1 löscht alle Änderungen des letzten Commits !!Vorsicht<br>
            git revert (commitID) ändert den letzten commit zurück funktioniert mit gepushd auf git</p>
    </div>


    <div class="tipp-5">
        <h3>Tipp 1</h3>
        <h3></h3>
        <p></p>
    </div>

</section>