<section>
    <h1>JS Basics</h1><button routerLink="" class="backBtn">Back</button>

    <div class="tipp-1">
        <h3>Tipp 1</h3>
        <h3>Switch-Case</h3>
        <p>Bei mehr als 3 if-Abfragen verwenden</p>
    </div>


    <div class="tipp-2">
        <h3>Tipp 2</h3>
        <h3>ternary Operator</h3>
        <p>Bsp:let myTitle = lang == "de" ? "Webseite":"Website"<br>
        entspricht: if(lang == "de") myTitle = "Webseite" else</p>
    </div>


    <div class="tipp-3">
        <h3>Tipp 3</h3>
        <h3>Arrow-Function</h3>
        <p>Bsp: functionName : (i) => &#10101; return 1 + i &#10101;</p>
    </div>


    <div class="tipp-4">
        <h3>Tipp 4</h3>
        <h3>Clean Coding</h3>
        <p>Single Responsibility für jede Funktion, gleicher Abstand</p>
    </div>


    <div class="tipp-5">
        <h3>Tipp 5</h3>
        <p></p>
    </div>


    <div class="tipp-6">
        <h3>Tipp 6</h3>
        <p></p>
    </div>


    <div class="tipp-7">
        <h3>Tipp 7</h3>
        <p></p>
    </div>


    <div class="tipp-8">
        <h3>Tipp 8</h3>
        <p></p>
    </div>


    <div class="tipp-9">
        <h3>Tipp 9</h3>
        <p></p>
    </div>


    <div class="tipp-10">
        <h3>Tipp 10</h3>
        <p></p>
    </div>

</section>