<section>
    <h1>JS Basics</h1><button routerLink="" class="backBtn">Back</button>

    <div class="tipp-1">
        <h3>Tipp 1</h3>
        <h3>Switch-Case</h3>
        <p>Bei mehr als 3 if-Abfragen verwenden</p>
    </div>


    <div class="tipp-2">
        <h3>Tipp 2</h3>
        <h3>ternary Operator</h3>
        <p>Bsp:let myTitle = lang == "de" ? "Webseite":"Website"<br>
            entspricht: if(lang == "de") myTitle = "Webseite" else</p>
    </div>


    <div class="tipp-3">
        <h3>Tipp 3</h3>
        <h3>Arrow-Function</h3>
        <p>Bsp: functionName : (i) => &#10101; return 1 + i &#10101;</p>
    </div>


    <div class="tipp-4">
        <h3>Tipp 4</h3>
        <h3>Clean Coding</h3>
        <p>Single Responsibility für jede Funktion, gleicher Abstand</p>
    </div>


    <div class="tipp-5">
        <h3>Tipp 5</h3>
        <h3>Debugger verwenden</h3>
        <p>Stelle den Stopp da ein wo du den Fehler vermutest und klicke dich mit F9 durch</p>
    </div>


    <div class="tipp-6">
        <h3>Tipp 6</h3>
        <h3>"null" und "undefined"</h3>
        <p>
            "undefined" bedeutet das der Wert nicht zugewiesen worden ist oder nicht existiert<br>
            "null" wurde als Wert definiert ist aber absichtlich leer<br>
        </p>
    </div>


    <div class="tipp-7">
        <h3>Tipp 7</h3>
        <h3>"==" vs "==="</h3>
        <p>
            "==" definiert loose Gleichheit also z.B null == undefined oder 6 == '6' oder true == 1<br>
            "===" definiert strikte Gleichheit und checkt ob Wert + Typ gleich sind<br>
        </p>
    </div>


    <div class="tipp-8">
        <h3>Tipp 8</h3>
        <h3>Promise</h3>
        <p>Promise erwartet mit einer asynchronen Funktion darauf das ein bestimmter Parameter zurückgegeben wird bevor
            der Code fortgeführt wird. .then oder try and catch.</p>
    </div>


    <div class="tipp-9">
        <h3>Tipp 9</h3>
        <h3>Sortiere ein Array mit randomisierten Zahlen</h3>
        <p>
            numbers.sort((a, b) => a - b);
            besser siehe in.JS
        </p>
    </div>


    <div class="tipp-10">
        <h3>Tipp 10</h3>
        <h3>let vs const vs var</h3>
        <p>let definiert nur über die Funktion bis die geschweifte Klammer geschlossen wird was
            der Wert ist bei var ist der Wert überall definiert. Const ist eine Konstante und kann nicht geändert
            werden, nur ausgelesen.</p>
    </div>


    <div class="tipp-11">
        <h3>Tipp 11</h3>
        <h3>Programme von JS in exe</h3>
        <p>Electron: benötigt "Node.js" npm install -g electron. => electron index.html<br>
            Neue Datei start.bat führt Befehl aus<br>
            Neuer Ordner => npx create-electron-app . => npm run make<br>
            index.js => new BrwoserWindow
        </p>
    </div>

</section>