<section>
    <h1>HTML Tipps to copy paste</h1><button routerLink="" class="backBtn">Back</button>


    <div>
        <h3>Tipp 1</h3>
        <h3>HTTP Methoden</h3>
        <p>
            GET zum bekommen von HTML-Datei oder einem JSON-Objekt vom Browser<br>
            POST zum hinzufügen eines JSON (id, item, etc), gibt Antwort zurück.(Nummer 200 Ok oder 404 not found),
            Ladebalken währenddessen einblenden
        </p>
    </div>


    <div>
        <h3>Tipp 2</h3>
        <h3>HTTP Methoden 2</h3>
        <p>
            PUT möchte ein JSON verändern z.B die Anzahl.<br>
            DELETE entfernt das JSON-Objekt
        </p>
    </div>


    <div>
        <h3>Tipp 3</h3>
        <h3>Einloggen</h3>
        <p>mit POST-Methode, email + PW, => JSON true, sessionID(hash) wird hinzugefügt(lokal Storage oder Cookie)<br>
            bei darauffolgender anmeldung GET mit URL + SessionID</p>
    </div>


    <div>
        <h3>Tipp 4</h3>
        <h3>Einhacken mit SessionID</h3>
        <p>GET mit tausenden SessionID's (mehr Zeichen = mehr Sicherheit), (begrenzt gültig 15min, z.B. Bank),
            (WebbrowserFingerprint(ID) "+ Bestätigung"), 2FA mit Handy, etc</p>
    </div>


    <div>
        <h3>Tipp 5</h3>
        <h3>Load Balancer</h3>
        <p>Ist zwischen FTP-Server und Browser geschaltet, sucht sich einen von mehreren Servern aus(Facebook), damit
            Server nicht überlastet wird. Wird umgeleitet bei Ausfall auf andere Server</p>
    </div>


    <div>
        <h3>Tipp 6</h3>
        <h3>Travis UI (nur GitHub), Jenkins (Bitbucket), GitLabCItools (Gitlab)</h3>
        <p>Ist ein Service der automatisch auf git master pushed und direkt auf FTP-Server den Content aktualisiert.
            Kann auch vorher den Code ng build --prod, dann testen und dann erst hochladen</p>
    </div>


    <div>
        <h3>Tipp 7</h3>
        <h3>Hoisting-Prinzip</h3>
        <p>JS shuffled automatisch während Python nicht auf Funktionen zugreifen kann die noch nicht definiert sind.
            Mithilfe des Compilers</p>
    </div>


    <div>
        <h3>Tipp 8</h3>
        <h3>XSS/CrossSiteScripting</h3>
        <p>wenn JS Text schreibt sollte man &gt; &lt; verwenden und kleiner als als Zeichen blockieren/ersetzen</p>
    </div>

    <div>
        <h3>Tipp 9</h3>
        <h3>kbd element</h3>
        <p>cooles Element um <kbd>Dinge</kbd> hervorzuheben</p>
    </div>

    <div>
        <h3>Tipp 10</h3>
        <h3>Aria-attributes</h3>
        <p>wichtig für interaktive Elemente als Ergänzung<br>
            role = "dialog"<br>
            aria-labeledby="title-id"<br>
            aira-expanded="true"
        </p>
    </div>

    <div>
        <h3>Tipp 11</h3>
        <h3>p vs span</h3>
        <p>p wird als neue Zeile verwender also ein Absatz in einem Text<br>
            Ein span ist innerhalb der Line um zum Beispiel einen Text zu ändern
        </p>
    </div>

    <div>
        <h3>Tipp 12</h3>
        <h3>details mit summaryn</h3>
        <p>für Klappmenüs mit Inhalt<br>
            verwende html tags suche mit W3 Schools für eine Liste
        </p>
    </div>


    <div>
        <h3>Tipp 13</h3>
        <h3>Content-type</h3>
        <p>text/html; charset=UTF-8<br>
            multipart/Form-data; boundary=something<br>
            application/json<br>
            application/xml</p>
    </div>

</section>