<section>
    <h1>Backend Infos</h1><button routerLink="" class="backBtn">Back</button>

    <div class="tipp-1">
        <h3>Tipp 1</h3>
        <h3>Content-type</h3>
        <p>text/html; charset=UTF-8<br>
            multipart/Form-data; boundary=something<br>
            application/json<br>
            application/xml</p>
    </div>


    <div class="tipp-2">
        <h3>Tipp 2</h3>
        <h3>PIP-Befehle</h3>
        <p>pip install modulname<br>
            pip uninstall modulname<br>
            pip freeze > requirements.txt<br>
            pip install -r requirements.txt</p>
    </div>


    <div class="tipp-3">
        <h3>Tipp 3</h3>
        <h3></h3>
        <p></p>
    </div>


    <div class="tipp-4">
        <h3>Tipp 4</h3>
        <h3></h3>
        <p></p>
    </div>


    <div class="tipp-5">
        <h3>Tipp 1</h3>
        <h3></h3>
        <p></p>
    </div>

</section>