.tipp-3 {
    text-shadow: 2px 2px 2px gold;
    box-shadow: 2px 2px 2px gold;
    filter: drop-shadow(0 0 1.25rem rgb(255, 217, 0))
}

.tipp-7 {
    background-image: linear-gradient(to top right, green 50%, blue 50%);
}