<section>
    <h1>CSS Tricks</h1><button routerLink="" class="backBtn">Back</button>

    <div>
        <h3>Tipp 1</h3>
        <code>float:left;</code>
        <h3>Alternative zu <code>position:absolute;</code></h3>
        <p>verhindert das sich Text unter dem Objekt befindet wie z.B bei position.absolute<button></button></p>
    </div>


    <div>
        <h3>Tipp 2</h3>
        <code>place-content: center;</code>
        <p>Wenn untere Reihe immer zentriert sein soll bei flexbox</p>
    </div>


    <div class="tipp-3">
        <h3>Tipp 3</h3>
        <h3>Shadows, auch übereinander</h3>
        <p>
            <code>text-shadow: 2px 2px 2px black;</code>
            <code>box-shadow: 2px 2px 2px gold;</code>
            <code>filter: drop-shadow(0 0 1.25rem rgb(255, 217, 0));</code>
        </p>
    </div>


    <div>
        <h3>Tipp 4</h3>
        <h3>Riesenbildschirme</h3>
        <p><code>&#64;media screen and (min-width:1921px) and (min-height)</code> Contentbegrenzung bis auf Objekte in
            einem .wrapper
        </p>
    </div>


    <div>
        <h3>Tipp 5</h3>
        <code>flex:1;</code>
        <p>lässt ein Element wachsen oder schrumpfen</p>
        <code>flex-grow:1;</code>
        <p>lässt die Div den restlichen Inhalt ausfüllen</p>
    </div>


    <div>
        <h3>Tipp 6</h3>
        <h3>Fürs Smartphones</h3>
        <code>max-height 100svh;</code>
        <p>Verwende 100svh damit die Such und Menüleiste berücksichtigt wird oder dvh für dynamic viewport<br>
            pointer coarse für anklicken mit smarphone</p>
    </div>


    <div class="tipp-7">
        <h3>Tipp 7</h3>
        <h3>linear-gradient</h3>
        <code>background-image: linear-gradient(to top right, green 50%, blue 50%);</code>
    </div>


    <div>
        <h3>Tipp 8</h3>
        <h3>Spreche alle devices ohne Maus an > mobiles</h3>
        <code>{{'@media (pointer: coarse) {}'}}</code>
    </div>


    <div>
        <h3>Tipp 9</h3>
        <h3>Fürs navigieren ohne Maus</h3>
        <code>a:hover-visible</code>
        <p>a:hover,
            a:focus-visible for people who navigate without mouse, or a:focus</p>
    </div>


    <div>
        <h3>Tipp 10</h3>
        <h3>PSEUDO ELEMENTE CSS</h3>
        <p>::selection "{{ '{' }}"background: red;"{{ '}' }}" Beispiel macht den markierten Hintergrund rot<br>
            ::marker "{{ '{' }}""{{ '}' }}" Wird für die <li> items verwendet als extra Farbe z.B oder emojis als marker
        </p>
    </div>


    <div>
        <h3>Tipp 11</h3>
        <h3>Schriftarten</h3>
        <p>Immer downloaden, nie über Google einbinden</p>
    </div>


    <div>
        <h3>Tipp 12</h3>
        <h3>detail-tag Schließen ohne JS</h3>
        <p><code>details[open] summary::before {{ '{' }}
            content: "";
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            cursor: auto;
            {{ '}' }}</code></p>
        </div>

</section>