<section>
    <h1>Angular</h1><button routerLink="" class="backBtn">Back</button>


    <div>
        <h3>Tipp 1</h3>
        <h3>Angular vs React vs Vue</h3>
        <p>Angular ist besser für größere Applikationen, Angular ist komplexer und schreibt Struktur vor. Andersrum
            lernen ist normalerweise einfacher.<br>
            Benötigt mehr Anpassung bei kleineren Projekten</p>
    </div>


    <div>
        <h3>Tipp 2</h3>
        <h3>React</h3>
        <p>React ist kein framework sondern eine library, ist auch auf Komponenten aufgebaut.<br>
            benötigt aber extra Routing deswegen bestehen Module immer aus Head und Body<br>
            state{{"{}"}} und render Funktion, benötigt Node.JS
            npx create-react-app "name"
        </p>
    </div>


    <div>
        <h3>Tipp 3</h3>
        <h3>Vue.js</h3>
        <p>bessere Performance, kleinere Projekte<br>
            weniger Plugins und Bibliotheken</p>
    </div>


    <div>
        <h3>Tipp 4</h3>
        <h3>Ionic</h3>
        <p>kann Angular-Projekte direkt in Android oder Iphone-Apps umwandeln .apk Sign + Zipalign. AndroidStudio +
            Android SDK 30€// 99€/year </p>
    </div>


    <div>
        <h3>Tipp 5</h3>
        <h3>Erstelle Angular-Projekt</h3>
        <p> ng build --source-map=true<br>
            die .htaccess funktioniert nur wenn source-map=false ist, da sonst die htaccess nicht triggert, da Files
            gefunden werden unter dem Pfad.</p>
    </div>


    <div>
        <h3>Tipp 6</h3>
        <p> ng build --configuration production<br>
            ng build --source-map=true<br>
        </p>
    </div>


    <div>
        <h3>Tipp 7</h3>
        <h3>bei DA</h3>
        <p>ng build --source-map=true --base-href "/angular-projects/PROJEKTNAME/"
            WICHTIG: mit "--source-map=true" funktioniert aktuell dann das routing nicht im Bezug auf die .htaccess
            (reload der Seite), bitte immer den link zum GIT-Repository mit schicken.</p>
    </div>


</section>