<section>
    <h1>Angular</h1><button routerLink="" class="backBtn">Back</button>

    <div class="tipp-1">
        <h3>Tipp 1</h3>
        <h3>Install</h3>
        <p>
            npm install -g jsdoc<br>
            jsdoc .<br>
            npm install für alles was in package.json ist
        </p>
    </div>


    <div class="tipp-2">
        <h3>Tipp 2</h3>
        <h3>Angular vs React vs Vue</h3>
        <p>Angular ist besser für größere Applikationen, Angular ist komplexer und schriebt Struktur vor. Andersrum
            lernen ist normalerweise einfacher<br>
            Mehr Anpassung bei kleineren Projekten</p>
    </div>


    <div class="tipp-3">
        <h3>Tipp 3</h3>
        <h3>React</h3>
        <p>React ist kein framework sondern eine library, ist auch auf Komponenten aufgebaut.<br>
            benötigt aber extra Routing deswegen Module bestehen immer aus Head und Body<br>
            state{{"{}"}} und render Funktion, benötigt Node.JS
            npx create-react-app "name"
        </p>
    </div>


    <div class="tipp-4">
        <h3>Tipp 4</h3>
        <h3>Vue.js</h3>
        <p>bessere Performance, kleinere Projekte<br>
            weniger Plugins und Bibliotheken</p>
    </div>


    <div class="tipp-5">
        <h3>Tipp 5</h3>
        <h3>ionic</h3>
        <p>kann Angular-Projekte direkt in Android oder Iphone-Apps umwandeln .apk Sign + Zipalign. AndroidStudio +
            Android SDK 30€// 99€/year </p>
    </div>


    <div class="tipp-6">
        <h3>Tipp 6</h3>
        <h3>Kreire Angular-Projekt</h3>
        <p> ng build --source-map=true<br>
            die .htaccess funktioniert nur wenn source-map=false ist, da sonst die htaccess nicht triggert, da Files
            gefunden werden unter dem Pfad.</p>
    </div>


    <div class="tipp-7">
        <h3>Tipp 7</h3>
        <p>ng build --base-href "/angular-projects/PROJEKTNAME/"<br>
            ng build --configuration production<br>
            ng build --source-map=true<br>
            oder die Kombination<br>
            ng build --source-map=true --base-href "/angular-projects/PROJEKTNAME/"
            WICHTIG: mit "--source-map=true" funktioniert aktuell dann das routing nicht im Bezug auf die .htaccess (reload der Seite), bitte immer den link zum GIT-Repository mit schicken.</p>
    </div>


    <div class="tipp-8">
        <h3>Tipp 8</h3>
        <p></p>
    </div>


    <div class="tipp-9">
        <h3>Tipp 9</h3>
        <p></p>
    </div>


    <div class="tipp-10">
        <h3>Tipp 10</h3>
        <p></p>
    </div>

</section>