<section>
    <h1>Simple CRUD</h1><button routerLink="" class="backBtn">Back</button>

    <div class="tipp-crud">
        <h3>Allgemeine CRUD-Infos</h3>
        <p>
            Hier die .TS Datei beachten<br>
            Erstelle eine Verbindung mit AngularFire<br>
            Erstelle ein Injectable-Service Datei<br>
            Erstelle eine Interface Datei für Nutzer etc<br>
            Injecte die Service-Datei in die einzelnen Komponenten so musst du nicht für jede Funktion in jeder Datei Firestore einbinden etc<br>
        </p>
    </div>

</section>