<section>
    <h1>Simple CRUD</h1><button routerLink="" class="backBtn">Back</button>

    <div class="tipp-1">
        <h3>Tipp 1</h3>
        <h3></h3>
        <p></p>
    </div>


    <div class="tipp-2">
        <h3>Tipp 2</h3>
        <h3></h3>
        <p></p>
    </div>


    <div class="tipp-3">
        <h3>Tipp 3</h3>
        <h3></h3>
        <p>
            
        </p>
    </div>


    <div class="tipp-4">
        <h3>Tipp 4</h3>
        <h3></h3>
        <p></p>
    </div>


    <div class="tipp-5">
        <h3>Tipp 5</h3>
        <p></p>
    </div>


    <div class="tipp-6">
        <h3>Tipp 6</h3>
        <p></p>
    </div>


    <div class="tipp-7">
        <h3>Tipp 7</h3>
        <p></p>
    </div>


    <div class="tipp-8">
        <h3>Tipp 8</h3>
        <p></p>
    </div>


    <div class="tipp-9">
        <h3>Tipp 9</h3>
        <p></p>
    </div>


    <div class="tipp-10">
        <h3>Tipp 10</h3>
        <p></p>
    </div>

</section>