<section>
    <h1>Eingabeauifforderung</h1><button routerLink="" class="backBtn">Back</button>

    <div>
        <h3>Tipp 1</h3>
        <h3>Basics</h3>
        <p>dir = Ordner wechseln (directory)<br>
        mkdir = make directory Erstelle Ordner<br>
        rmdir = remove directory Lösche Ordner<br>
        Tab taste für Intellisense/Autoverfollständigung
    </p>
    </div>

    <div>
        <h3>Tipp 2</h3>
        <h3></h3>
        <p></p>
    </div>

    <div>
        <h3>Tipp 3</h3>
        <h3></h3>
        <p></p>
    </div>111

    <div>
        <h3>Tipp 4</h3>
        <h3></h3>
        <p></p>
    </div>

    <div>
        <h3>Tipp 5</h3>
        <h3></h3>
        <p></p>
    </div>

    <div>
        <h3>Tipp 6</h3>
        <h3></h3>
        <p></p>
    </div>

    <div>
        <h3>Tipp 7</h3>
        <h3></h3>
        <p></p>
    </div>

</section>