<section>
    <h1>Eingabeauifforderung</h1><button routerLink="" class="backBtn">Back</button>

    <div>
        <h3>Tipp 1</h3>
        <h3>Basics</h3>
        <p>dir = Ordner wechseln (directory)<br>
            mkdir = make directory Erstelle Ordner<br>
            rmdir = remove directory Lösche Ordner<br>
            Tab taste für Intellisense/Autoverfollständigung<br>
            bash für linux<br>
            markieren + Enter ist copy rechtsklick ist paste
        </p>
    </div>

    <div>
        <h3>Tipp 2</h3>
        <h3>APT-GET</h3>
        <p>sudo = super user DO<br>
            sudo apt-get install git-all für Linux</p>
        winget install git für Windows<br>
    </div>

    <div>
        <h3>Tipp 3</h3>
        <h3>Script für Linux Beispiel</h3>
        <p>apt-get install git less nano ftp ssh python3 & pip install django</p>
    </div>

    <div>
        <h3>Tipp 4</h3>
        <h3>basic linux</h3>
        <p>sudo touch script.py (erstellt leere datei)<br>
            rm -rf script.py (löscht datei)<br>
            less script.py (less ist zum betrachten von Dateien Q zum herausgehen)<br>
            nano script.py (nano ist bearbeiten strg X raus) STRG O zum speichern<br>
            ./ zum ausführen von Dateien<br>
            chmod777 gibt allen alle Rechte (Nicht machen außer TEST, chmod +x ist executable)<br>
            python 3 script.py</p>
    </div>

    <div>
        <h3>Tipp 5</h3>
        <h3>SSH-Verbindung</h3>
        <p>ifconfig<br>
            sudo service ssh status<br>
            sudo apt-get update<br>
            sudo apt-get remove openssh-server<br>
            sudo apt-get install openssh-server<br>
            sudo nano /etc/ssh/sshd_config (password authentifikation and AllowUsers alucard)<br>
            sudo ssh-keygen -A<br>
            sudo service ssh start<br>
            sudo service ssh status<br>
            sudo service ssh --full-restart
        </p>
    </div>

    <div>
        <h3>Tipp 6</h3>
        <h3>Pipe</h3>
        <p>ifconfig | grep inet (Filtere ifconfig nachinet | = pipe)<br>
            cat datei1 datei2 > newfile.txt (Konkatenieren, Verbinden, bei nur einer Datei wird der Inhalt
            angezeigt)<br>
            sudo lsof -u alucard (list of all files)<br>
            sudo lsof -u alucard | more (in Tabellenstruktur)<br>
            sudo kill (prozessid)<br>
            sed 's/Linux/Unix/g' readme.txt (ändere alle Linus in Unix um in readme(temporär))<br>
            außer vorher sudo chmod 777 readme.txt<br>
            sed -i 's/Linux/Unix/g' readme.txt<br>
            sed --help für infos über die Funktion(/? oder -help auch möglich)
        </p>
    </div>

    <div>
        <h3>Tipp 7</h3>
        <h3>awk (formatierung)</h3>
        <p>cat colums.txt | awk 'geschweifte(print $1)' (erste Zeile von Tabelle)<br>
            cat colums.txt | awk 'print $NF'(NF = das allerletzte in der Tabelle)</p>
    </div>

    <div>
        <h3>Tipp 8</h3>
        <h3>Curl zum testen von http requests</h3>
        <p>curl -i https://google.de<br>(-i steht für interaktiv kann sich also ändern in diesem Fall weiterleiten)<br>
            curl -d "name=Pikachu&nr=41" https://pokeapi.co/api (post request mit-d)<br>
            -x PUT/DELETE<br>
            -u davor ist user:password<br>
            -o pokemon.json (lädt das ganze herunter als JSON)<br>
            Beispiel: sudo curl -o google.html https://google.de<br>
            wget um ausführebahre dateien runterzuladen (.exe)<br>
            wget -b (für Background, für große Dateien um nicht zu warten)</p>
    </div>

    <div>
        <h3>Tipp 9</h3>
        <h3>Head and Tails</h3>
        <p>head datai.log (erste 10 Zeilen oder -n3 / -3)<br>
            tail datai.log (letzte 10 Zeilen -f Beobachtungsmodus)</p>
    </div>

    <div>
        <h3>Tipp 10</h3>
        <h3>Well known port number 0 - 1023</h3>
        <p>Registered Ports 1024 - 49151<br>
            Dynamic Ports 49152 - 65535<br>
            FTP Data 20<br>
            FTP Control 21<br>
            SSH 21<br>
            SMTP 25<br>
            DNS 53<br>
            HTTP 80<br>
            POP3<br>
            HTTPS 443</p>
    </div>

    <div>
        <h3>Tipp 11</h3>
        <h3></h3>
        <p></p>
    </div>

    <div>
        <h3>Tipp 12</h3>
        <h3></h3>
        <p></p>
    </div>

    <div>
        <h3>Tipp 13</h3>
        <h3></h3>
        <p></p>
    </div>

</section>