<section>
    <h1>C#</h1>

    <button routerLink="" class="backBtn">Back</button>

    <div>
        <h3>Tipp 1</h3>
        <h3>Spacing und allgemeine Dinge</h3>
        <p>Whitespace ist komplett egal genauso wie in JS<br>
            String-Interpolierung wie Python aber mit<br>
            $"Hello, &#123;name&#125;!."<br>
            Oder wie JavaScript
        </p>
    </div>

    <div>
        <h3>Tipp 2</h3>
        <h3>Datentypen Ganze Zahlen</h3>
        <p>int zahl = 1; Ganzzahlen bis 2,1 Milliarden 2^31<br>
            long großeZahl = 222222222222222L; Ganzzahlen bis 9,2 Quadrillionen 2^63 endet mit L<br>
            sbyte und byte = -128 to 127 und 0 to 255<br>
            short = -32768 to 32767
        </p>
    </div>

    <div>
        <h3>Tipp 3</h3>
        <h3>Dezimalzahlen</h3>
        <p>float kommaZahl = 0,123456F Kommazahlen bis 6 zu 7 Nachkommastellen endet mit F<br>
            double langeKommaZahl = 0,12341D bis zu 15 Nachkommastellen endet mit D<br>
            decimal pi = 3,141592636M für genaue Berechnungen endet mit M
        </p>
    </div>

    <div>
        <h3>Tipp 4</h3>
        <h3>Strings und Boolean</h3>
        <p>char myLetter = 'A'; Nur ein einzelner Buchstabe<br>
            string myText = "Hello World!"; Text<br>
            bool myBool = true; Boolscher Wert kleingeschrieben
        </p>
    </div>

    <div>
        <h3>Tipp 5</h3>
        <h3>if/else statements</h3>
        <p>genauso wie JS<br>
            for-loop && || auch genauso wie in JS<br>
            Vergleichsoperator == ist wie === in JS alles andere wird vom Compiler verhindert
        </p>
    </div>

    <div>
        <h3>Tipp 6</h3>
        <h3>do and while</h3>
        <p>while(i &lt; 5) &#123;<br>
            i++;<br>
            Console.WriteLine(i);<br>
            &#125;
            wenn es einmal mindestens ausgeführt werden soll<br>
            do &#123;<br>
            Console.WriteLine(i);<br>
            i++;
            &#125;<br>
            while (i &lt; 5);
        </p>
    </div>

    <div>
        <h3>Tipp 7</h3>
        <h3>Arrays und Listen, Cup&#123;T&#125;<br></h3>
        <p>string[] namen = new string[] &#123; "Anna", "Bob", "Clara" &#125;;<br>
            var names = new List&lt;string&gt; &#123;"Scott", "Alex"&#125;<br>
            Array hat eine feste ANzahl an Elementen und kann mit anderen Sprachen kommunizieren<br>
            für arrays names = [..namen, "Damian"];<br>
            Liste&lt;T&gt; Daten können sich abändern und ist komfortablere Funktionen<br>
            List&lt;int&gt; scores = [97, 92, 12, 42] neueste Semantik<br>
            mit [^1] oder [^2] bekommt man den letzten im Array bzw den vorletzten
        </p>
    </div>

    <div>
        <h3>Tipp 8</h3>
        <h3>foreach für listen und arrays</h3>
        <p>foreach (var item in collection)<br>
            oder collection[2..4] für 2 und 3 4 ist ausgenommen<br>
            &#123;
            <br>
            item.ToUpper()&#125;<br>
            Listen können Sort(), IndexOf(),
        </p>
    </div>

    <div>
        <h3>Tipp 9</h3>
        <h3>LINQ Language Integrated Query</h3>
        <p>bisschen wie SQL<br>
            Die Frage: IEnumerable&lt;string&gt; scoreQuery =<br>
            from score in scores //required<br>
            where score &gt; 80<br>
            orderby score descending<br>
            select $"The score is &#123;score&#125; //select or group<br>
            Die Antwort: foreach(string s in scoreQuery)&#123;<br>
            Console.WriteLine(s);
            &#125;
        </p>
    </div>

    <div>
        <h3>Tipp 10</h3>
        <h3>Alternativ LINQ with methods</h3>
        <p>var scoreQuery = scores.Where(s => s > 80)<br>
            .OrderByDescending(s => s);<br>
            select is implied, ähnlich wie Python oder JS
        </p>
    </div>

    <div>
        <h3>Tipp 11</h3>
        <h3>Funktionen sind Methoden</h3>
        <p>Erst Rückgabewert angeben oder void oder string<br>
            void HelloWorld()<br>
            &#123;
            Console.Write("Hallo Welt!")<br>
            &#125;
        </p>
    </div>

    <div>
        <h3>Tipp 12</h3>
        <h3>2D-Arrays</h3>
        <p>string[,] products = new string [2, 2];<br>
            products[0, 0] = "Kekse";<br>
            products[0, 1] = "Kekse2";<br>
            products[1, 0] = "Kekse3";<br>
            products[1, 1] = "Kekse4";<br>
        </p>
    </div>

    <div>
        <h3>Tipp 13</h3>
        <h3>namespaces and classes</h3>
        <p>Klassen müssen immer am Ende stehen nicht am Anfang wegen Compiler<br>
            separate Datei mit namespace und Klassen<br>
            namespace wird über using xxx eingebunden, wie in Angular<br>
            get und set Methoden je nachdem was user tun darf
        </p>
    </div>

    <div>
        <h3>Tipp 14</h3>
        <h3>public vs private</h3>
        <p>wenn kein public steht ist es automatisch private<br>
            Constructor ist wie in Angular
        </p>
    </div>

</section>