<section>
    <h1>SQL</h1><button routerLink="" class="backBtn">Back</button>

    <div>
        <h3>Tipp 1</h3>
        <h3>Datentypen Ganze Zahlen</h3>
        <p>int zahl = 1; Ganzzahlen bis 2,1 Milliarden 2^31<br>
            long großeZahl = 222222222222222L; Ganzzahlen bis 9,2 Quadrillionen 2^63 endet mit L
        </p>
    </div>

    <div>
        <h3>Tipp 2</h3>
        <h3>Dezimalzahlen</h3>
        <p>float kommaZahl = 0,123456F Kommazahlen bis 6 zu 7 Nachkommastellen endet mit F<br>
            double langeKommaZahl = 0,12341D bis zu 15 Nachkommastellen endet mit D
        </p>
    </div>

        <div>
        <h3>Tipp 3</h3>
        <h3>Strings und Boolean</h3>
        <p>char myLetter = 'A'; Nur ein einzelner Buchstabe<br>
            string myText = "Hello World!"; Text<br>
            bool myBool = true; Boolscher Wert kleingeschrieben
        </p>
    </div>

        <div>
        <h3>Tipp 4</h3>
        <h3></h3>
        <p>
        </p>
    </div>

        <div>
        <h3>Tipp 5</h3>
        <h3></h3>
        <p>
        </p>
    </div>

        <div>
        <h3>Tipp 6</h3>
        <h3></h3>
        <p>
        </p>
    </div>

</section>