* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: whitesmoke;
    padding-left: 16px;
    padding-top: 16px;
}

h1 {
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 36px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    place-content: center;

    >div {
        background-color: darkmagenta;
        height: 240px;
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 12px;
        border-radius: 12px;
        transition: 0.2s ease-in;

        &:hover {
            transition: 0.2s ease-in;
            scale: 1.5;
        }
    }

    p {
        font-size: 18px;
    }
}

.backBtn {
    position: absolute;
    right: 30px;
    top: 30px;
    padding: 8px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}