* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 9, 28);
    color: whitesmoke;
    padding-left: 16px;
    padding-top: 16px;
}

h1 {
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 36px;
}

section {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    place-content: center;

    >div {
        background-color: rgb(132, 36, 68);
        height: 260px;
        width: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 12px;
        border-radius: 12px;
        transition: 0.2s ease-in;
        overflow:auto;

        &:hover {
            transition: 0.2s ease-in;
            scale: 1.2;
        }
    }

    p {
        font-size: 18px;
    }
}

.backBtn {
    position: fixed;
    z-index: 99;
    right: 30px;
    bottom: 30px;
    padding: 8px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}