<section>

    <h1>RaspberryPi</h1><button routerLink="" class="backBtn">Back</button>

    <div>
        <h3>Tipp 1</h3>
        <h3>Honeypot</h3>
        <p>Bei Installation des Honeypots die config datei umbennen<br>
            endlessh.conf sonst geht es nicht</p>
    </div>

    <div>
        <h3>Tipp 2</h3>
        <h3>DNS einrichten</h3>
        <p>Bei infomaniak Adresse anfordern<br>
            ipconfig /flushdns zum löschen aller DNS Daten auf dem rechner<br>
            oder chrome://net-internals/#dns
        </p>
    </div>

    <div>
        <h3>Tipp 3</h3>
        <h3>Gute Tools</h3>
        <p>Redis für schnelleres Laden da häufig aufgeruftes auf Arbeitsspeicher zwischengelagert wird<br>
            Django Debug Toolbar = Zum debuggen<br>
        </p>
    </div>

    <div>
        <h3>Tipp 4</h3>
        <h3>Learning Tools</h3>
        <p>Over the wire<br>
            tryhackme<br>
            hackthebox
        </p>
    </div>

    <div>
        <h3>Tipp 5</h3>
        <h3>Django RQ or Celery</h3>
        <p>pip install DjangoRQ und importieren<br>
            priorisiert die Aufgaben des Servers, z.B. Konvertieren von Videos, etc<br>
        </p>
    </div>

    <div>
        <h3>Tipp 6</h3>
        <h3>Django librarys</h3>
        <p>Django-import-export<br>

        </p>
    </div>

    <div>
        <h3>Tipp 7</h3>
        <h3>Postgres einrichten</h3>
        <p>für größere skalierbare Applikationen<br>
            im env sudo apt install postgresql postgresql-contrib<br>
            sudo service postgresql start<br>
            su postgres<br>
            whoami<br>
            psql<br>
            schaue nach einrichten im inet<br>
            pip install psycog2-binary<br>
            damit Django mit der Datenbank reden kann<br>
            in settings.py Databases hinzufügen<br>
            Trusted URLS hinzufügen
        </p>
    </div>

    <div>
        <h3>Tipp 8</h3>
        <h3>NGINX-Befehle</h3>
        <p>sudo nginx -t "zum teste ob syntax korrekt"<br>
            sudo systemctl restart nginx "neustart"<br>
            findet sich in etc/nginx/sites-enabled
        </p>
    </div>

</section>