<section>

    <h1>RaspberryPi</h1><button routerLink="" class="backBtn">Back</button>

    <div>
        <h3>Tipp 1</h3>
        <h3>Honeypot</h3>
        <p>Bei Installation des Honeypots die config datei umbennen<br>
        endlessh.conf sonst geht es nicht</p>
    </div>

    <div>
        <h3>Tipp 2</h3>
        <h3>DNS einrichten</h3>
        <p>Bei infomaniak Adresse anfordern<br>
            ipconfig /flushdns zum löschen aller DNS Daten auf dem rechner<br>
            oder chrome://net-internals/#dns
        </p>
    </div>

    <div>
        <h3>Tipp 3</h3>
        <h3>Gute Tools</h3>
        <p>Redis für schnelleres Laden da häufig aufgeruftes auf Arbeitsspeicher zwischengelagert wird<br>
        </p>
    </div>

    <div>
        <h3>Tipp 4</h3>
        <h3></h3>
        <p></p>
    </div>

</section>